html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  width: 100%;
  max-width: 60em;
  font-family: "Segoe UI", sans-serif;
  margin: 0 auto 1em auto;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;
}

header {
  background-color: lightgray;
  padding: 0 1em 0.5em 1em;
  margin: 0;
  font-variant: small-caps;
}

header h1 {
  display: inline-block;
  @media(min-width: 500px) {
    display: block;
  }
  margin-right: 1em;
}

header nav {
  display: inline-block;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline;
  margin-right: 1em;
}

nav a {
  text-decoration: none;
  color: gray;
}

nav a:hover {
  color: dodgerblue;
}

#content {
  padding: 1em;
}

#blog_previews article.blog-entry {
  border-bottom: 1px solid lightgray;
}

article.blog-entry {
  padding: 1em 2em 0.25em;
  font-size: 1.1em;
  line-height: 1.6;
}

@media(max-width: 650px) {
  article.blog-entry {
    padding-left: 0;
    padding-right: 0;
  }
}

article.blog-entry p, article.blog-entry li {
  text-align: justify;
  text-justify: inter-word;
}

article.blog-entry p {
  text-indent: 2em;
  margin-bottom: 1.25em;
}

article.blog-entry li {
  margin-bottom: 1em;
}

article.blog-entry p a, article.blog-entry li a, section.project p a, #content p a {
  color: dodgerblue;
  text-decoration: none;
}

article.blog-entry p a:hover, article.blog-entry li a:hover, section.project p a:hover, #content p a:hover {
  color: magenta;
}

article.blog-entry h1 {
  margin-bottom: 10px;
}

article.blog-entry .date {
  font-size: 0.8em;
}

section.project {
  border-bottom: 1px solid lightgray;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  clear: both;
  overflow: hidden;
}

section.project h1 a {
  text-decoration: none;
  color: dodgerblue;
}

section.project h1 a:hover {
  color: navy;
  text-decoration: underline;
}

section.project img {
  float: left;
  width: 350px;
  height: auto;
  max-width: 100%;
  margin: 1em 1em 1em 0;
  border: 1px solid lightgray;
  border-radius: 1em;
  @media(max-width: 600px) {
    float: none;
  }
}

section.project img.promises-aplus {
  width: 150px;
  border-radius: 0;
  border: none;
}

.muted {
  font-size: 0.75em;
}

#ddLiveDemo {
  height: 100px;
  width: 100px;
}

.demo-caption {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5em;
}

.demo-wrapper {
  float: left;
  margin: 1em 1em 1em 0;
}

a.github-mark img {
  height: 40px;
  width: auto;
  margin-top: 1px;
}

a.github-mark {
  float: right;
}

article.blog-entry blockquote {
  border-left: 5px solid #e5e5e5;
  padding-left: 15px;
  color: #858585;
  margin-bottom: 1.25em;
}

article.blog-entry blockquote p {
  text-indent: 0 !important;
}

article.blog-entry pre {
  background-color: #f6f8fa;
  border-radius: 5px;
  padding: 16px;
  overflow-x: auto;
  line-height: 1.45;
  margin-bottom: 1.5em;
}
